@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ansim'; /* 사용할 폰트의 이름을 정의 */
  src: url('./fonts/Hakgyoansim-Dunggeunmiso-TTF-R.ttf');
}

@font-face {
  font-family: 'ansim2';
  src: url('./fonts/Hakgyoansim-Dunggeunmiso-TTF-B.ttf');
}

@layer utilities {
  .text-jelly {
    background: radial-gradient(circle at 30% 30%, #b8f3a9, #48bb78, #22543d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    text-shadow:
      0 1px 0 #fff,
      0 2px 1px rgba(0, 0, 0, 0.15),
      0 0 15px rgba(255, 255, 255, 0.1);
  }
}

